body {
  background-image: url(../images/time.jpg);
  background-attachment: fixed;
  background-color: #00bfff;
  background-size: cover;
  font-family: monospace;
}

.timer {
  background-color: #03303f;
  color: #d3d3d3;
  font-size: 5vw;
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3vw;
  border-radius: 70px;
  margin-top: 100px;
  box-shadow: inset 0 0 10px #000000;
}

#buttons {
  text-align: center;
  margin-top: 5px;
}

.button {
  font-size: 30px;
  padding: 10px;
  border-radius: 20px;
}

.button:active,
.button.green:active,
.button.orange:active,
.button.grey:active {
  color: #8b0000;
}

.button.green {
  background-color: #00ff00;
  border-color: #00ff00;
}

.button.green:hover {
  background-color: #00df00;
}

.button.orange {
  background-color: #ff8c00;
  border-color: #ff8c00;
  display: none;
}

.button.orange:hover {
  background-color: #cf7e05;
}

.button.grey {
  background-color: #a9a9a9;
  border-color: #a9a9a9;
}

.button.grey:hover {
  background-color: #808080;
}

@media (max-width: 991px) {
  .timer {
    width: 80vw;
    font-size: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 120px;
    margin-top: 20vh;
  }

  .button {
    font-size: 80px;
    padding: 30px;
    border-radius: 50px;
  }
}
